<a href="https://colab.research.google.com/github/pankajkumaryadav-ai-ds/DWM-LAB/blob/main/DWM(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# Demonstrate the following data pre-processing tasks using python libraries.
# a) Loading the datase
import pandas as pd
import numpy as np
import io
dataset=pd.read_csv('/content/pankaj.csv')
dataset.head()

   INDEX   AGE   SALARY
0      0  25.0  35000.0
1      1  27.0  40000.0
2      2  50.0  54000.0
3      3  35.0      NaN
4      4  40.0  60000.0

In [3]:
# b) Identifying the dependent and independent variables
# attributes to determine independent variable 
X=dataset.iloc[:, :-1].values
# dependent variable / Class
Y=dataset.iloc[:, -1].values
print(X)
print(Y)

[[  0.  25.]
 [  1.  27.]
 [  2.  50.]
 [  3.  35.]
 [  4.  40.]
 [  5.  35.]
 [  6.  nan]
 [  7.  48.]
 [  8.  50.]
 [  9.  37.]
 [ 10.  21.]
 [ 11.  nan]
 [ 12. 693.]]
[35000. 40000. 54000.    nan 60000. 58000. 52000. 79000. 83000.    nan
 24000. 60000. 70000.]

In [6]:
# c) Dealing with missing data
dataset=pd.read_csv('/content/pankaj.csv')
#select numerical variables from dataset
num_var=dataset[['AGE','SALARY']]
print(num_var)

      AGE   SALARY
0    25.0  35000.0
1    27.0  40000.0
2    50.0  54000.0
3    35.0      NaN
4    40.0  60000.0
5    35.0  58000.0
6     NaN  52000.0
7    48.0  79000.0
8    50.0  83000.0
9    37.0      NaN
10   21.0  24000.0
11    NaN  60000.0
12  693.0  70000.0

In [10]:
# impute the missing fields in a dataset using scikit-learn library’s SimpleImputer Class 
from sklearn.impute import SimpleImputer
# fit_transform method do calculating the mean of columns and then replacing the missing values according to it
imp=SimpleImputer(missing_values=np.nan,strategy="mean")
X_mean=imp.fit_transform(num_var)
print(X_mean)

[[2.50000000e+01 3.50000000e+04]
 [2.70000000e+01 4.00000000e+04]
 [5.00000000e+01 5.40000000e+04]
 [3.50000000e+01 5.59090909e+04]
 [4.00000000e+01 6.00000000e+04]
 [3.50000000e+01 5.80000000e+04]
 [9.64545455e+01 5.20000000e+04]
 [4.80000000e+01 7.90000000e+04]
 [5.00000000e+01 8.30000000e+04]
 [3.70000000e+01 5.59090909e+04]
 [2.10000000e+01 2.40000000e+04]
 [9.64545455e+01 6.00000000e+04]
 [6.93000000e+02 7.00000000e+04]]